<!--The content below is only a placeholder and can be replaced.-->
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<iframe id = "ifm" class="col-lg-8" style="height:900px;" src="http://openweathermap.org/weathermap?basemap=map&cities=true&layer=clouds&lat=33.749&lon=-84.39&zoom=7">

</iframe>

<div class="col-lg-4 panel"style="height:900px;">
  <instantWeather></instantWeather>
  <forecast></forecast>
</div>
